<div class="row" class="rev-item">
    <div class="col-sm-12 col-md-8">
        {{!-- <h3>{{ title }}</h3> --}}
        <ul id="rev_ul">

        
        {{#each result}}
             <li>{{review}}</li>
        {{/each}}

        </ul>
        {{!-- <p>{{ task }}</p> --}}
    </div>
</div>