<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/main-styles.css">
    <link href="/public/css/main.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>
<body>
    <h1> House Hunt </h1>
        <p>
            Find Houses according to your needs
        </p>
        {{!-- <nav>
            <ul>
                <li><a href="homepage.html">HOME</a></li>
                <li><a href="/adminlogin">ADMIN-LOGIN</a></li>
                <li><a href="/userlogin">USER-LOGIN</a></li>
                <li><a href="/userregistration">USER SIGN-UP</a></li>
            </ul>
        </nav> --}}
    <main>
        {{{body}}}
    </main>
</body>
</html>