<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/main-styles.css">
    
</head>
<body>
    <header>
        <div class="nav">
            
            <img class="logo-img" src="../public/assets/logo.jpg">
            <ul>
                <li><a href="/">HOME</a></li> 
                <li><a href="/user/userLogin">USER-LOGIN</a></li>
                <li><a href="/user/userRegistration">USER-SIGN-UP</a></li>
            </ul>
        </div>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
   
    <h1> House Hunt </h1>
    <main>
        <div>
            {{{body}}}
        </div>
    </main>
    <script src="../public/js/main.js"></script>
</body>
</html>