<title>Properties</title>

<main>
    <h2>Properties Owned by: {{OwnerName}}</h2>
    <ul>
        {{#each result}}
        <li>
            <a href="/propertydetails/{{this.id}}"> {{this.address}}</a>
        </li>
        {{/each}}
    </ul>
</main>