<title>{{title}}</title>

<main>
  <h1>Welcome to our site</h1>
  <li>
    <ul><a href="/sell">Owners who want to sell the house</a></ul>
    <ul><a href="/ownerRent">Owners who want to rent their property</a></ul>
    <ul><a href="/peopleRent">People who are searching for rentals</a></ul>
  </li> 
</main>