<main>
  <h1>Welcome to our site</h1>
  <li>
    {{!-- <ul><a href="/propertyRegistration">Owners who want to sell the house</a></ul> --}}
    <ul><a href="/propertyRegistration">Owners who want to rent their property</a></ul>
    <ul><a href="/searchProperties">People who are searching for rentals</a></ul>
  </li> 
</main>