<title>{{title}}</title>

<main>
   <header>
    <div class="logo">
			<img src="../public/assets/logo.jpg">
		</div>
		<nav>
			<ul>
          <li><button onclick="window.location.href='/';">HOME</button></li>
          
          {{!-- <li><button onclick="window.location.href='/favourites';">Favourites</button></li>  --}}
          <li><button onclick="window.location.href='/users/logout';">Logout</button></li>
          {{!-- <li><button onclick="window.location.href='/user/userRegistration';">USER SIGN UP</button></li> --}}
          {{!-- <li><button onclick="window.location.href='/manageRentals';">Manage Rentals</button></li> --}}
          {{!-- <li><button onclick="window.location.href='/favourites';">favourites</button></li> --}}
      </ul>
		</nav>
    </header>

  <h1>Welcome to our site</h1>
  <li>
    {{!-- <ul><a href="/propertyRegistration">Owners who want to sell the house</a></ul> --}}
    <ul><a href="/propertyRegistration">Owners who want to rent their property</a></ul>
    <ul><a href="/searchProperties">People who are searching for rentals</a></ul>
  </li> 
</main>