<title>{{title}}</title>
<main>
    <h1>{{msg}}</h1>
    <form action="/contact" method="post">
        <label for="email">Email/Username</label>
        <input type="text" id="email" name="email" placeholder="Enter Email or Username">
        <label for="phonenumber">Phone Number</label>
        <input type="tel" id="phonenumber" name="phonenumber" placeholder="Enter your mobile number">
        <button type="submit">Submit</button>
    </form>
</main>