<main>
    <h1>{{title}}</h1>
    <h3>Upload the property images here, should be atleast 3.</h3>
    <form method="POST" id="myForm" 
  enctype='multipart/form-data'>
  
		<label id="formLabel">
			Images:
			<input type="file" id="file" name = "images[]" multiple/>
			<button type="submit" id="btn">Add Images</button>
			<input type="hidden" id="id" value="{{id}}">
		</label>
	</form>
	{{!-- <button onclick="window.location.href='/manageRentals';">Upload</button> --}}
	<script src='../public/js/upload.js'></script>
	
</main>
{{!-- <script src='../public/js/upload.js'></script> --}}