<title>{{title}}</title>
<main>
    <h1>{{title}}</h1>
    <form action="/searchresults" method="post">
    <label for="search">Search</label>
    <input type="text" id="search" placeholder="Search"> <br>
    <button type="submit">Search</button>
    </form>

 {{!-- add filters --}}

</main>