<title>{{title}}</title>

<main>
        <ul class="pf" id="rev-ul">
            {{#each result}}
            <li>
                {{review}}
            </li>
            {{/each}}
        </ul>
   
<div class="row">
    <div class="col-sm-12 col-md-6" id="todo-area">
        {{#each todoItems}} {{> todo_item }} {{/each}}
    </div>
    <div id="new-content">
    </div>
    <div class="col-sm-12 col-md-4">
        <form id="new-item-form">
            {{!-- <label>Task Name <input id="new-task-name" type="text" /></label> --}}
            <label for="rev">Reviews</label>
            <input type="text" id="review" name="review" placeholder="Enter your review">
            <input type="submit" value="add new review"/>
        </form>
    </div>
</div>
