<title>{{title}}</title>  
    <div class="container">
        <ul id="rev_ul">
            {{#each result}}
                <li>{{review}}</li>
            {{/each}}
        </ul>

        <form id="form-control">
            <label for="rev">Reviews: </label>
            <input type="text" id="review" name="review" placeholder="Enter your review/comment">
            <button type="submit" class="btn btn-default" id="review-button">Add Comment</button>
        </form><br>
        <button onclick="window.location.href='/searchProperties';">Go back to search!</button>
        
    </div>
</main>
