    <header>
    <div class="logo">
			<img src="../public/assets/logo.jpg">
		</div>
		<nav>
			<ul>
          <li><button onclick="window.location.href='/';">HOME</button></li>
          
          {{!-- <li><button onclick="window.location.href='/favourites';">Favourites</button></li>  --}}
          {{!-- <li><button onclick="window.location.href='/favourites';">Favourites</button></li> --}}
          {{!-- <li><button onclick="window.location.href='/manageRentals';">Manage Rentals</button></li> --}}
          <li><button onclick="window.location.href='/users/logout';">Logout</button></li>
          {{!-- <li><button onclick="window.location.href='/user/userRegistration';">USER SIGN UP</button></li> --}}
          
      </ul>
		</nav>
    </header>
    <div class="container">
        <ul id="rev_ul">
            {{#each result}}
                <li>{{review}}</li>
            {{/each}}
        </ul>
        <form id="form-control">
            <label for="rev">Comment: </label>
            <input type="text" id="review" name="review" placeholder="Enter your comment">
            <button type="submit" class="btn btn-default" id="review-button">Add Comment</button>
        </form><br>
        <button onclick="window.location.href='/searchProperties';">Go back to search!</button>
        
    </div>
