<main>
    <h1>{{title}}</h1>
    <form action="/searchProperties" method="post">
    <label for="city">City:</label>
    <input type="text" name="city" id="city" placeholder="Enter City to search in">
    <br>
    <form action="/searchProperties" method="post">
    <label for="city">State:</label>
    <input type="text" name="state" id="city" placeholder="Enter City to search in">
    <br>
    <form action="/searchProperties" method="post">
    <label for="city">Zip:</label>
    <input type="text" name="zip" id="city" placeholder="Enter City to search in">
    <br>
    <button type="submit">Submit</button>
<br> <br>
    <a href="/user/logout">Logout</a>
</main>