<main>
    <div class="content">
        <form action="/userLogin" method="post">
            <div>
                <label for="">userName</label>
                <input type="text" name="userName" id="">
            </div><br>
            <div>
                <label for="">password</label>
                <input type="password" name="password" id="">
            </div>
            <div>
                <button type="submit">submit</button>
            </div>
        </form>
    </div>
</main>>
    
