<main>
    {{#if error}}
    <p>{{error}}</p>
{{/if}}
    <div class="content">
        <form action="/user/userLogin" method="post">
            <div>
                <label for="">Email</label>
                <input type="email" name="email" id="">
            </div><br>
            <div>
                <label for="">password</label>
                <input type="password" name="password" id="">
            </div>
            <div>
                <button type="submit">submit</button>
            </div>
        </form>
        <br>
        <br>

        <a href="/user/userRegister">Coming for the first time? Register Here!</a>
    </div>
</main>
    
