.nav{
  float: left;
  word-spacing: 20px;
  padding: 10px;
  overflow: hidden;
}
.nav ul{
  margin: 0;
  padding: 0;
  text-align: right;
}

.nav ul li{
  display: inline-block;
  list-style-type: none;
  text-align: right;
}

.nav > ul > li > a{
  display: block;
  line-height: 10px;
  padding: 5px;
  text-decoration: none;
  text-align: right;
}

h1{
  text-align: center;
}

.logo-img{
  float: left;
  position: relative;
  margin: 5px;
  max-width:15%;
}

/* .logo
{
	float :left;
  margin-top: 20px;
	padding-left: 20px;

}
.logo img
{
  float :left;
	padding-left: 20px;
  padding-top: 0px;
  max-width:20%;
  height:auto;
  position: relative;
} */
/* 
.button {
  background-color: #1c87c9;
  border: none;
  color: white;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
} */